html {
    background-color: floralwhite;
}

.creditos {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid 5px;
    font-size: 25px;
}

#criador { color: black;}

#texto { color: black;}

h2 {
    font: 15px arial;
    text-align: center;
}

h1 {
    font: 30px arial;
    border: solid 5px black;
    background-color: #1d7ac7;
    color: white;
    text-align: center;
}