@import url(./reset.css);

.titulo{
    background-color: #e9e9e9;
    border-radius: 500px;
    text-align: center;
    font: normal 20pt ;
    padding: 5px;
    color: #2A2829;
}

.texto{
    text-align: center;
    font-size: larger;
    background-color: #e9e9e9;
    color: #2A2829;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.imagem{
    background-color: #e9e9e9;
    border-radius: 10px;
    width: 300px;
    display: block;
    margin: 0px auto;
    padding: 5px;
}

.area-feedback{
    background-color: #e9e9e9;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    display: block;
    margin: 0 auto;
}