body{
    background-color: #0B486B;
}

header, a, footer{
    text-align: center;
    padding: 5px;
    color: #e9e9e9;
}

.sobre-hipertexto{
    text-align: center;
    font-size: larger;
    background-color: #e9e9e9;
    color: #2A2829;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.introducao{
    text-align: center;
    font-size: larger;
    background-color: #e9e9e9;
    color: #2A2829;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.imagem{
    width: 350px;
    border-radius: 10px;
    display: block;
    margin: 0px auto;
    padding: 5px;
}